In [1]:
import pandas as pd

# Let's explore the Global Streetscapes!

# Load the information file

In [2]:
df_info = pd.read_csv("global-streetscapes/info.csv", index_col=0)
df_info

,Filename,Overview,Notes,Field,Format,Explanation
1.0,climate.csv,Contains the Koppen climate zone associated wi...,The calculation is as accurate as the location...,uuid,string,"Universally Unique IDentifier, unique for ever..."
NaN,NaN,NaN,NaN,source,string,"Source of the image, either Mapillary or Karta..."
NaN,NaN,NaN,NaN,orig_id,int,Original ID of the image as specified by Mapil...
NaN,NaN,NaN,NaN,koppen_geiger_zone,string,A zone code to identify the Koppen climate zone
NaN,NaN,NaN,NaN,zone_description,string,Short description of the climate zone
...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,distance_from_prev_m,float,Distance between the image and the previous im...
NaN,NaN,NaN,NaN,distance_from_prev_km,float,Distance between the image and the previous im...
NaN,NaN,NaN,NaN,time_from_prev_s,float,Time duration between the image and the prviou...
NaN,NaN,NaN,NaN,time_from_prev_hr,float,Time duration between the image and the prviou...
NaN,NaN,NaN,NaN,avg_speed_from_prev_kph,float,Average speed between the image and the previo...

In [3]:
# let's look into `simplemaps.csv`
df_info_filtered = df_info[df_info["Filename"] == "simplemaps.csv"]
df_info_filtered

,Filename,Overview,Notes,Field,Format,Explanation
20.0,simplemaps.csv,Contains the information of the city associate...,The calculation is as accurate as the location...,uuid,string,"Universally Unique IDentifier, unique for ever..."

In [4]:
df_info_filtered["Overview"].values

array(['Contains the information of the city associated with the image, obtained from the World Cities database by Simplemaps.'],
      dtype=object)

# Load the simplemaps file and filter the cities we are interested in

In [5]:
# the city information is available in the `simplemaps.csv` file
df_simplemaps = pd.read_csv(
    "global-streetscapes/data/simplemaps.csv", index_col=0, low_memory=False
)
df_simplemaps.head()

,source,orig_id,city,city_ascii,city_id,city_lat,city_lon,country,iso2,iso3,admin_name,capital,population,continent
uuid,,,,,,,,,,,,,,
d3cca4a7-7994-47ff-9749-7df8ca7228e3,Mapillary,412070930384924,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
33f474ab-496e-41a7-86a6-08fad8fe6638,Mapillary,897137344568478,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
0da8bf8d-bf34-4d94-aa51-2a7a3c880f6b,Mapillary,266236242103987,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
23c0aa2e-573b-4a3f-a65b-fb8f7349725b,Mapillary,646336503014104,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
4f47ba8e-8437-4213-9721-8336b02ea703,Mapillary,404485487755735,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia

In [6]:
# find the city you are interested in
city_1 = "Singapore"
city_1_id = df_simplemaps[df_simplemaps["city"] == city_1]["city_id"].iloc[0]
city_1_id

1702341327

In [7]:
city_2 = "Zurich"
city_2_id = df_simplemaps[df_simplemaps["city_ascii"] == city_2]["city_id"].iloc[0]
city_2_id

1756539143

In [8]:
cities = [city_1_id, city_2_id]
df_city = df_simplemaps[df_simplemaps["city_id"].isin(cities)]
df_city.groupby("city").size()

city
Singapore    22579
Zürich       37984
dtype: int64

# Let's confirm this information with the summary fille for all cities (cities688.csv)

In [9]:
cities688 = pd.read_csv("global-streetscapes/cities688.csv")
cities688

,city,city_ascii,city_id,city_lat,city_lon,country,iso2,iso3,admin_name,capital,population,continent,img_count,koppen_geiger_zone,zone_description,timezone
0,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia,4942,Cfa,"Humid subtropical, no dry season",Asia/Tokyo
1,Sasagawa,Sasagawa,1392742964,37.2865,140.3727,Japan,JP,JPN,Fukushima,NaN,75128.0,Asia,9683,Cfa,"Humid subtropical, no dry season",Asia/Tokyo
2,Nha Trang,Nha Trang,1704497901,12.2495,109.1908,Vietnam,VN,VNM,Khánh Hòa,admin,392279.0,Asia,1295,Aw,Tropical wet and dry or savanna,Asia/Ho_Chi_Minh
3,Serrinha,Serrinha,1076832200,-11.6639,-39.0078,Brazil,BR,BRA,Bahia,NaN,83275.0,South America,126,Aw,Tropical wet and dry or savanna,America/Bahia
4,Shoreline,Shoreline,1840021118,47.7564,-122.3426,United States,US,USA,Washington,NaN,57027.0,North America,81189,Csb,"Mediterranean, warm summer",America/Los_Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,Chimalhuacán,Chimalhuacan,1484504936,19.4167,-98.9000,Mexico,MX,MEX,México,minor,614453.0,North America,2762,Cwb,Temperate highland tropical climate with dry w...,America/Mexico_City
684,Feira de Santana,Feira de Santana,1076892244,-12.2669,-38.9669,Brazil,BR,BRA,Bahia,NaN,617528.0,South America,523,Af,Tropical rainforest,America/Bahia
685,Tlalnepantla,Tlalnepantla,1484861603,19.5367,-99.1947,Mexico,MX,MEX,México,minor,653410.0,North America,41544,Cwb,Temperate highland tropical climate with dry w...,America/Mexico_City
686,Düsseldorf,Dusseldorf,1276615258,51.2311,6.7724,Germany,DE,DEU,North Rhine-Westphalia,admin,645923.0,Europe,20514,Cfb,"Marine west coast, warm summer",Europe/Berlin
687,Kōtō-ku,Koto-ku,1392003346,35.6667,139.8167,Japan,JP,JPN,Tōkyō,NaN,523117.0,Asia,9052,Cfa,"Humid subtropical, no dry season",Asia/Tokyo

In [10]:
assert (
    cities688[cities688["city_id"] == city_1_id]["img_count"].values[0]
    == df_city.groupby("city").size().iloc[0]
), f"Both quantities should match for {city_1}"

In [11]:
assert (
    cities688[cities688["city_id"] == city_2_id]["img_count"].values[0]
    == df_city.groupby("city").size().iloc[1]
), f"Both quantities should match for {city_2}"

# All checks out!

However, there are are > 60K images! Let's just take the first 10K to make it faster.

In [12]:
df_city = df_city.iloc[:1000]
df_city

,source,orig_id,city,city_ascii,city_id,city_lat,city_lon,country,iso2,iso3,admin_name,capital,population,continent
uuid,,,,,,,,,,,,,,
3ce4bc54-b715-40cf-bc36-c1fff074e4f7,Mapillary,2839628276289164,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
316682ec-53e8-4309-af16-c496e1440099,Mapillary,508370486872640,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
659aebff-96c9-4093-8a3f-789f61e0e282,Mapillary,168812251801164,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
e7c8e4f9-baa7-4237-9eee-58c8897472f4,Mapillary,288367996293371,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
b0bf5ad9-2044-4a62-af4b-7a86c8812584,Mapillary,676504726770350,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4ebafbb-1dcc-4f31-8efc-7e181f813949,Mapillary,126567430041187,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
5916e4e2-417f-4eab-9c8b-1a7f8d9747a3,Mapillary,602045534537234,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
8887acec-a778-4044-b404-4f75ffc9a8c1,Mapillary,3300921423472322,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
52bda270-c40a-46da-ae8d-18b7e31c24a3,Mapillary,468352835089916,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe
bff7c28b-b7dc-4e90-a258-676260d6e59e,Mapillary,193399032613969,Zürich,Zurich,1756539143,47.3744,8.5411,Switzerland,CH,CHE,Zürich,admin,434008.0,Europe

# Save the file to continue with downloads

In [13]:
# if there are no assertion errors, we save the file
df_city.to_csv('download_imgs/selected_points.csv')